<div class="post_outline_item">
    <img src="<%= post.author.githubInfo  && post.author.githubInfo.avatar_url %>" alt="" class="header">
    <div class="content">
        <a href="/posts/show/<%= post._id %>" class="title"><%= post.title %></a>
        <div class="detail">
            <span style="color: purple; font-size: 15px; font-weight: bold"><%= post.category + ' ' %></span>
            <span style="color: lightsalmon;"><%= post.tags && post.tags.join(', ') %></span>
            <span><%= JSON.stringify(post.author) %></span>
        </div>
        <div class="post-badge">
            <a href="#"><span class="badge"><%= post.voterCount %></span></a>
        </div>
    </div>
</div>