<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (locals.user){ %>
      <p>welcome you: <%= user.name %> </p>
      <p>email: <%= user.email %></p>
      <a href="/github/logout">Click here</a> logout.
    <% } else { %>
      <p>not login</p>
      <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= github_client_id %>">Click here</a> to login!</a>
    <% } %>

  </body>
</html>
