<% include ../header.ejs %>
<script src="/marked/lib/marked.js"></script>
<div class="container">
    <!--左边栏-->
    <div class="col-sm-8 col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div>
                    <div>
                        <span style="font-size: 30px; font-weight: bold"><%= data.post.title %></span>
                    </div>
                    <div>
                        <span style="color: purple;"><%= data.post.category %></span>
                        <span style="color: lightsalmon;"><%= data.post.tags && data.post.tags.join(', ') %></span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div id="markdown">
                    <textarea id="markdownText" hidden><%= data.post.markdown %></textarea>
                </div>
            </div>
        </div>
    </div>
    <!--右边栏-->
    <div class="col-sm-4 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">文章信息</div>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h5 class="list-group-item-heading">author: </h5>
                        <p class="list-group-item-text"><%= data.author.username %></p>
                    </li>
                    <li class="list-group-item">
                        <h5 class="list-group-item-heading">email: </h5>
                        <p class="list-group-item-text"><%= data.author.email %></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<% include ../footer.ejs %>
<script>
    $(function(){
        $('#nav-posts').addClass('active');
        document.getElementById('markdown').innerHTML = marked(document.getElementById('markdownText').value);
    });
</script>