<% include ../header.ejs %>
<script src="/marked/lib/marked.js"></script>
<div class="container">
    <!--左边栏-->
    <div class="col-sm-12 col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div>
                    <div>
                        <span style="font-size: 30px; font-weight: bold"><%= post.title %></span>
                    </div>
                    <div>
                        <span style="color: purple;"><%= post.category %></span>
                        <span style="color: lightsalmon;"><%= post.tags && post.tags.join(', ') %></span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div id="markdown">
                    <textarea id="markdownText" hidden><%= post.markdown %></textarea>
                </div>
            </div>
        </div>
    </div>
    <!--右边栏-->
    <div class="hidden-sm hidden-xs col-md-3">
        <ul class="list-group">
            <li class="list-group-item active">作者信息</li>
            <li class="list-group-item">
                <div class="list-group-heading" style="font-size: 12px">用户名</div>
                <div class="list-group-text"><%= post.author.username %></div>
            </li>
            <li class="list-group-item">
                <div class="list-group-heading" style="font-size: 12px">邮箱</div>
                <div class="list-group-text"><%= post.author.githubInfo.email %></div>
            </li>
        </ul>
        <% if (locals.user && post.author._id.toString() == locals.user.mongo_id){ %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">操作</div>
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <button id="edit-post" class="btn btn-primary">编辑</button>
                    <button id="delete-post" class="btn btn-danger">删除</button>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>

<% include ../footer.ejs %>
<script>
    $(function(){
        $('#nav-posts').addClass('active');
        document.getElementById('markdown').innerHTML = marked(document.getElementById('markdownText').value);
    });
</script>